/* Google font links */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Default Css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    font-family: "Mulish", sans-serif;
}


.container{
    max-width: 1320px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.m-auto{
    margin: 0 auto;
}

.w-full{
    width: 100%;
}

.d-flex{
    display: flex;
    align-items: center;
}

.cmn-padding{
    padding: 100px 0;
}

/*Defalut Css End Here  */

/* Header Section Css Start Here  */

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;

}

.header-logo h1{
    font-size: 36px;
    font-weight: 800;
}

.header-logo h1 a img{
    margin-right: 10px;
}

.header-logo > h1 > a{
    display: flex;
    align-items: center;
    color: #000000;
}

.header-logo > h1 > a > span{
    color: #FF5400;
    margin-left: 10px;
}

.header-menu > ul {
    list-style: none;
}

.header-menu > ul > li {
    display: inline-block;
}

.header-menu > ul > li > a{
    color:#717175;
    font-weight: 500;
    padding: 0 20px;
    transition: 0.3s;
}
.header-menu > ul > li > a:last-child{
    padding-right: 0;
}

.header-menu > ul > li > a:hover{
    color: #FF5400;
    
}

/* Header Section Css End Here  */

/* Explore travel Banner Section Css Start Here  */

.explore-travel-box{
    background: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore-travel-box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.travel-text-box{
    color: #ffffff;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.travel-text-box h1{
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 20px;
}

.cmn-para{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    margin-bottom: 25px;
    line-height: 1.6;
}

.travel-text-box p{
    color: #ffffff;
}

.search-box{
    padding: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 10px;
}

.search-box input, .search-box .select-box select{
    padding: 15px 20px;
    outline: 0;
    border-radius: 8px;
    border: 0;
    margin-right: 20px;
}

.search-box button{
    padding: 15px 40px;
    background: #FF5400;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
}

/* Explore travel Banner Section Css End Here  */

/* Populer Tour section css start here  */

.cmn-header{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 30px;
}


.populer-tour-box{
   display: grid;
   gap: 15px;
   grid-template-columns: repeat(2, 1fr);
}

.populer-tour-text{
    padding: 0 25px;
    text-align: justify;
}

.populer-tour-text ul{
    margin: 25px 0;
    margin-left: 40px;
}

.cmn-btn{
    background-color: #FF5400;
    color: #fff;
    border: 0;
    padding: 18px 50px;
    font-weight: 800;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 8px;
}

/* Populer Tour section css end here  */


/* Populer Tour section css start here  */

.destination-main{
    padding-top: 0;
}

.maldives-photo{
    grid-area: maldives;
}

.indonesia-photo{
    grid-area: indonesia;
}

.srilanka-photo{
    grid-area: srilanka;
}

.north-america-photo{
    grid-area: north-america;
}

.kashmir-photo{
    grid-area: kashmir;
}
.bangladesh-photo{
    grid-area: bangladesh;
}

.bangdarban-photo{
    grid-area: bangdarban;
}

.choose-destination-image-box{
    margin-top: 50px;
    display: grid;
    grid-template-areas: "maldives maldives indonesia indonesia"
                         "srilanka north-america north-america kashmir"
                         "bangladesh bangladesh bangdarban bangdarban";
    gap: 25px;
}

.choose-destination-image-single{
    width: 100%;
    height: 286px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}

.choose-destination-image-single img{
    width: 100%;
    height: 100%;
}

.destination-location{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination-location h2{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
}

/* Populer Tour section css end here  */

/* Choose us section css starte here  */

.choose-us-text{
    margin-bottom: 50px;
}

.choose-single-1{
    grid-area: chooseone;
    background: rgba(251,181,99,0.1);
    border: 1px solid rgba(251,181,99,1);
}
.choose-single-2{
    grid-area: choosetwo;
    background-color: rgba(41,206,246,0.1);
    border: 1px solid rgba(41,206,246,1);
}

.choose-single-3{
    grid-area: choosethree;
    background: rgba(233,68,68,0.1);
    border: 1px solid rgba(233,68,68,1);
}

.choose-details-box-main{
    display: grid;
    grid-template-areas: "chooseone chooseone choosetwo choosetwo"
                         "choosethree choosethree choosethree choosethree";
    gap: 25px;
} 

.choose-details-box-single{
    padding: 30px;
    border-radius: 20px;
    width: 100%;
}

.choose-details-box-single img{
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
}


.new-cmn-header{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.choose-details-box-single p{
    margin-bottom: 0;
}


/* Choose us section css end here  */


/* Deals Section Css start here  */

.choose-image-box{
    background: url("../images/deal-1.png");
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 30px;
}

.deal-box-2{
    background: url("../images/deal-2.png");
    justify-content: start;
    background-repeat: no-repeat;
    background-size: cover;
}

.choose-image-single{
    background: rgba(255,255,255,0.8);
    width: 580px;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    right: 5%;
    border: 1px solid rgba(41,206,246,1);
   
}

.choose-single-box-2{
    left: 5%;
}

.choose-image-single ul{
    list-style: none;
    margin-bottom: 20px;
}

.choose-image-single ul li{
    display: inline-block;
    margin-right: 15px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 500;
}

.choose-image-single ul li i{
    color: #FF5400;
    margin-right: 10px;
}

/* Deals Section Css end here  */

/* Watch Video Section Css Start here  */

.cmn-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.watch-video-main{
    margin-bottom: 80px;
}

.watch-video iframe{
    width: 100%;
    height: 424px;
    border: none;
    border-radius: 20px;
}

.watch-text ul{
    margin-left: 30px;
}

.watch-text{
    padding: 20px;
}

.watch-text ul li{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Watch Video Section Css End here  */

/* Review Section Css Start here  */

.review-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.review-single{
    background: rgba(233, 68, 68, 0.1);
    padding: 30px;
    width: 23%;
    border-radius: 18px;
    text-align: center;
    border: 1px solid rgba(233, 68, 68, 0.8);
}

.review-single ul{
    list-style: none;
}

.review-single ul li{
    display: inline-block;
}


/* Review Section Css End here  */

/* NewsLetter Section Css start here  */

.newsletter-input{
    padding: 50px;
}

.newsletter-input h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hr-border{
    height: 1px;
   display: block;
   background: rgba(19,19,24,0.2);
   margin-bottom: 20px;
}

.newsletter-input input {
    width: 100%;
    padding:20px;
    margin-bottom: 18px;
    border-radius: 10px;
    outline: none;
    border: 0;
    background: rgba(19,19,24,0.1);
}

.news-btn{
    background-color: #FF5400;
    color: #fff;
    border: 0;
    padding: 15px 35px;
    font-weight: 800;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}

.news-btn:hover, .cmn-btn:hover{
    cursor: pointer;
}


/* NewsLetter Section Css end here  */

/* Footer box css start here  */

.footer-box-main{
    background-color: rgba(19, 19, 24, 0.1);
    margin-top: 80px;
}



.footer-logo > h1 > a{
    justify-content: center;
    margin-bottom: 40px;
}


.social-link{
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}

.social-link li{
    display: inline-block;
    margin: 0 15px;
}

.social-link li a{
    color: #131318;
    font-size: 24px;
}

/* Footer box css end here  */


/* Responsive Css Start Here  */